<header class="h-14 px-3 bg-gradient-to-r from-[#3169D0] via-[#254BA4] to-blue-600 text-black flex justify-between">
	<span class=" px-2 py-3"></span>
	<nav>
		<ul class="flex text-lg gap-14 py-4 px-7 font-courgette font-semibold text-black">
			<li routerLinkActive="underline underline-offset-4" class="hover:underline hover:underline-offset-4 ">
				<a routerLink="/home" routerLinkActive="router-link-active">Home</a>
			</li>
			<li  class="hover:underline hover:underline-offset-4" routerLinkActive="underline underline-offset-4">
				<a routerLink="/profile" routerLinkActive="router-link-active">Profile</a>
			</li>
			<li  class="hover:underline hover:underline-offset-4" routerLinkActive="underline underline-offset-4">
				<a routerLink="/chat" routerLinkActive="router-link-active">Chat</a>
			</li>
			<li  class="hover:underline hover:underline-offset-4" routerLinkActive="underline underline-offset-4">
				<a routerLink="/achievements" routerLinkActive="router-link-active">Achievements</a>
			</li>
			<li class="hover:underline hover:underline-offset-4">
				<app-settings></app-settings>
			</li>
		</ul>
	</nav>
</header>