<aside class=" box-border h-full absolute right-0  bg-[#1D5DE8] flex flex-col items-center pt-5 pb-2 space-y-2 overflow-auto">
	<app-add-friend [id] = "id"></app-add-friend>
	<a class="bg-[#1D5DE8] text-black active:bg-blue-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" href="/requests">
		Requests
	</a>
	<app-search-user></app-search-user>
	<li *ngFor="let friend of friendList" class="flex">
		<div>
			<app-friend [id]="friend"></app-friend>
		</div>
	</li>
</aside>