/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~@angular/material/prebuilt-themes/purple-green.css';
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Cabin+Sketch:wght@700&family=Gloria+Hallelujah&family=Kaushan+Script&family=Nanum+Pen+Script&family=Press+Start+2P&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.container mat-card, .message, .chatroom mat-card {
	border: 1px solid lightgray;
	border-radius: 8px;
	margin: 10px;
	padding: 15px;
  }
  